<form action="/" method="post">
  <label for="teamName">Enter a Team Name</label>
  <input id="teamName" type="text" name="teamName" value="">
  <label for="teamMotto">Enter a Team Motto</label>
  <input id="teamMotto" type="text" name="teamMotto" value="">
  <label for="teamObjective">Enter a team Objective</label>
  <input id="teamObjective" type="text" name="teamObjective" value="">
  <button type="submit" name="button">Create your team!</button>
</form>
